<?xml version="1.0" encoding="UTF-8"?>
<web-app
   xmlns="http://xmlns.jcp.org/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
   metadata-complete="false"
   version="3.1">

  <servlet>
    <servlet-name>VectorInfoServlet</servlet-name>
    <servlet-class>edu.ucr.cs.bdlab.raptor.VectorInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FarmlandServlet</servlet-name>
    <servlet-class>edu.ucr.cs.bdlab.raptor.VectorFeaturesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SoilServlet</servlet-name>
    <servlet-class>edu.ucr.cs.bdlab.raptor.SoilServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SinglePolygonServlet</servlet-name>
    <servlet-class>edu.ucr.cs.bdlab.raptor.SinglePolygonServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TileServlet</servlet-name>
    <servlet-class>edu.ucr.cs.bdlab.raptor.VectorTileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TileServlet</servlet-name>
    <url-pattern>*.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VectorInfoServlet</servlet-name>
    <url-pattern>/vectors.json</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FarmlandServlet</servlet-name>
    <url-pattern>/vectors/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SoilServlet</servlet-name>
    <!--<url-pattern>/vectors/soil.json/*</url-pattern>-->
    <url-pattern>/soil/farmland.json/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SinglePolygonServlet</servlet-name>
    <!--<url-pattern>/vectors/singlepolygon.json/*</url-pattern>-->
    <url-pattern>/soil/singlepolygon.json/*</url-pattern>
  </servlet-mapping>

</web-app>